* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  margin: 200px auto;
  width: 320px;
  height: 40px;
  background-color: #000;
  position: relative;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#check-menu {
  display: none;
}

label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
  line-height: 40px;
}

.burger-line {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 35px;
  height: 2px;
  background-color: #fff;
}

.second {
  top: 18px;
}

.fourth {
  top: 28px;
}

.main-menu {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  transition: 1s all;
}
a {
  display: block;
  width: 100%;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-top: 1px solid rgba(225, 225, 225, 0.694);
  background-color: #000;
}

#check-menu:checked ~ .main-menu {
  max-height: 500px;
  font-size: 16px;
}

#check-menu:checked ~ .first {
  transform: rotate(90deg) translateY(10px) translateX(10px); 
}

#check-menu:checked ~ .second {
  transform: rotate(90deg);
}

#check-menu:checked ~ .fourth {
  transform: rotate(90deg);
  transform: rotate(90deg) translateY(-10px) translateX(-10px); 
}

.menu:hover {
  background: rgba(255, 0, 0, 0.517);  
  color: rgba(247, 173, 173, 0.809);
}

.block1:hover {
 background: rgba(255, 255, 0, 0.721);
 color: black;
 font-size: 12px;
}

.block2:hover {
  opacity: 0.6;
  border-radius: 70%;
  color: blue;
}

.block3:hover {
  box-shadow: inset 0 0 0 5px rosybrown;
  background: red;
}

.block4:hover {
  font-size: 30px;
  background:radial-gradient( red, yellow, blue, grey)
}